

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Actualizar informacion del usuario</legend>
  
  <div class="field">
    <%= f.label :nombre ,class: "col-lg-2 control-label"%><br>
    <%= f.text_field :nombre,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :apellidos ,class: "col-lg-2 control-label"%><br>
    <%= f.text_field :apellidos,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :facebook,class: "col-lg-2 control-label"%><br>
    <%= f.text_field :facebook,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :twitter ,class: "col-lg-2 control-label" %><br>
    <%= f.text_field :twitter,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :pass ,class: "col-lg-2 control-label"%><br>
    <%= f.text_field :pass,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :foto ,class: "col-lg-2 control-label"%><br>
    <%= f.hidden_field :foto,id:"textAreaFileContents",class: "form-control" %>
    <input id="inputFileToLoad" type="file" onchange="loadImageFileAsURL();" class="btn btn-primary" />
    <img id="imagenid"  class="img-responsive img-circle col_lg_6">
  </div>
  <div class="actions">
    <%= f.submit "Enviar", :class=> "btn btn-primary" %>
  </div>
  
  </fieldset>
</form>
  
<% end %>

 
<script type="text/javascript">
 
function loadImageFileAsURL()
{
    var filesSelected = document.getElementById("inputFileToLoad").files;
    if (filesSelected.length > 0)
    {
        var fileToLoad = filesSelected[0];
 
        var fileReader = new FileReader();
 
        fileReader.onload = function(fileLoadedEvent) 
        {
            var textAreaFileContents = document.getElementById
            (
                "textAreaFileContents"
            );
            var base64=fileLoadedEvent.target.result;
            textAreaFileContents.innerHTML = base64;
            $("#imagenid").attr("src",base64);
        };
 
        fileReader.readAsDataURL(fileToLoad);
    }
}
 
</script>